.gradient-text {
  color: transparent;
  background: conic-gradient(
    var(--color-primary) 0 33%,
    var(--color-secondary) 0 55%,
    #000000 0 70%,
    #f1f1f1 0 87%,
    #c569bc 0 100%
  );
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
}
